# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Datasets
dataset/
data/fer2013.csv

# Model files
models/*.keras

# Environment variables
.env

# IDE
.vscode/